.App {
  display: flex;
}

.field-container {
  margin: 10px 0;
}

.list-container {
  width: 25%;
}

.list-item-container {
  display: flex;
  flex-direction: column;
}

.dialog-options {
  width: 120px;
}

.user-tasks-select-container {
  display: flex;
  align-items: center;
}

.unlink-container {
  margin-left: 10px;
}